<span>
  Example Listbox
</span>
<div appListbox class="example-listbox" [multiSelectable]="isMultiSelectable" [useActiveDescendant]="true">
  <div appListboxOption>a Option 1</div>
  <div appListboxOption>b Option 2</div>
  <div appListboxOption>c Option 3</div>
  <div appListboxOption>d Option 4</div>
</div>

<button (click)="isMultiSelectable = !isMultiSelectable">
  {{isMultiSelectable ? 'Disable multiSelectable' : 'Enable multiSelectable'}}
</button>
<button (click)="listbox.selectAllOptions()">
  Select All
</button>
<button (click)="listbox.deselectAllOptions()">
  Deselect All
</button>
<br><br>
<button (click)="listbox.setDisabledListbox(true)">
  Disable listbox
</button>
<button (click)="listbox.setDisabledOption(true, 0)">
  Disable option 1
</button>
<button (click)="listbox.setDisabledOption(true, 1)">
  Disable option 2
</button>
<button (click)="listbox.setDisabledOption(true, 2)">
  Disable option 3
</button>
<button (click)="listbox.setDisabledOption(true, 3)">
  Disable option 4
</button>
